.App {
  text-align: center;
  max-width: 100%;
}

h1 {
  text-align: center;
  padding: 0 10vh;
}

.gallery {
  padding: 15vw;
  display: flex;
  flex-wrap: wrap;
}

.gallery .imgs {
  height: 40vh;
  flex-grow: 1;

  cursor: pointer;
  margin-bottom: 12px;
}

.gallery img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.lastChild {
  flex-grow: 10;
}

.gallery .imgs:hover {
  filter: opacity(0.8);
}

@media (max-width: 991px) {
  .gallery {
    margin: 3vw;
    padding: 0;
  }

  .gallery .imgs {
    width: 40vw;
    text-align: center;
  }

  img {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .gallery {
    padding: 0;
  }

  .gallery .imgs {
    height: 60vh;
    text-align: center;
  }

  .gallery .imgs img {
    margin: 10px;
    height: 100vh;
  }
}

.tempShow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.tempShow.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.tempShow img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.tempShow.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.loadMore {
  display: inline-block;
  padding: 20px 50px;
  margin-top: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
